h1,
h2 {
  font-family: Helvetica;
  padding-bottom: 5px;
}
h1 {
  color: red;
}
h2 {
  border-bottom: 1px solid black;
}
p, ul, li {
  font-family: Georgia;
}
li {
  list-style-type: square;
}
a {
  color: magenta;
}
main {
}
img {
  border: 3px solid black;
  padding: 5px;
}